@use '../../styles/colors.scss' as color;

.layoutBackground {
  display: flex;
  background-color: color.$BEIGE;

  .layoutMain {
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    background-color: color.$WHITE;
  }
}
